tidyverse>=2.0.0
dplyr>=1.2.0
scales>=1.4.0
sf>=1.1.0
terra>=1.9.1
raster>=3.6.32
concaveman>=1.2.0
tmap>=4.2
spdep>=1.4.2
spatialreg>=1.4.3
gstat>=2.1.6
automap>=1.1.20
tidymodels>=1.4.1
spatialsample>=0.6.1
ranger>=0.18.0
xgboost>=3.2.1.1
vip>=0.4.5
yardstick>=1.3.2
car>=3.1.5
shiny>=1.13.0
leaflet>=2.2.3
rsconnect>=1.8.0
